# Exercicios de Estatisticas 


**Responda:**


- Média
-Moda
-Mediana
-Percentis 25, 50, 75 e 100

In [1]:
#importando algumas bibliotecas que serão úteis
# importing some libraries that will be useful
import pandas as pd #manipular tabela
import seaborn as sns #manipular grafico
import numpy as np #operações numpy
import matplotlib.pyplot as plt #manipular grafico

In [6]:
#lendo arquivo csv
#read file csv
df = pd.read_csv('df_exemplo.csv',  delim_whitespace=True)

In [7]:
#informação sobre tabela
# information about datafrema
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 774 entries, 44.0 to 36.7
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sta_ID    774 non-null    float64
 1   Depth_ID  774 non-null    object
 2   Depthm    774 non-null    int64
 3   T_degC    774 non-null    float64
 4   O2Sat     774 non-null    float64
 5   Salnty    774 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 42.3+ KB

In [10]:
mean = df['Salnty'].mean()
median = df['Salnty'].median()
mode = df['Salnty'].mode()

print('mean:', mean, 'median:',median, 'mode:', mode)

mean: 33.60165374677006 median: 33.8485 mode: 0    32.74
Name: Salnty, dtype: float64

In [12]:
df['Salnty'].describe()

count    774.000000
mean      33.601654
std        0.656640
min       32.160000
25%       32.900000
50%       33.848500
75%       34.187000
max       34.520000
Name: Salnty, dtype: float64